.page {
    display: flex;
    height: 100svh;
}

.left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    width: 440px;
    height: calc(100% - 40px);
    margin: 20px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: #f6f9fd;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100%;
}
